//:root {
//  blue-1: #cae6fc;
//  blue-3: #75bef8;
//  blue-5: #2196f3;
//
//  green-1:#30aa9f;
//  green-2:#008074;
//  green-3:#00534b;
//
//  red-1:#f88a82;
//  red-2:#f44336;
//  red-3:#ab2f26;
//}


.custom-button {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 14px;
    font-weight: bold;
    padding: 10px;
    opacity: 1;
    border: none;
    transition: opacity 0.5s;
    margin: 5px ;
    background: #00534b;
    color: #fff;




    &_disabled {
      opacity: 0.3;
      background-color: darkgray !important;
    }

    &_enabled{
      cursor: pointer;
      opacity: 1;
        &:hover {
          opacity: 0.8;
        }
    }






    &__icon {
      margin-left: 10px;
      font-style: normal;
      font-weight: normal;

      &-plus {
        &::after {
          font-family: 'primeicons';
          content: "\e90d";

        }
      }

      &-minus {
        &::after {
          font-family: 'primeicons';
          content: "\e90f";
        }
      }

      &-up{
        &::after {
          font-family: 'primeicons';
          content: "\e914";
        }
      }

      &_loading {
        &-on {
          &::after {
            font-family: 'primeicons';
            content: "\e926" !important;
          }
          animation: 1s linear 0s infinite  load;
        }

      }

    }


  @keyframes load {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }

    &_red {
      background-color: red;
      &-1 {
        background-color: #f88a82;
      }
      &-2 {
        background-color: #f44336;
      }
      &-3 {
        background-color: #ab2f26;
      }

    }

    &_green {
      background-color: green;
      &-1 {
        background-color: #30aa9f;
      }
      &-2 {
        background-color: #008074;
      }
      &-3 {
        background-color: #00534b;
      }

    }

    &_blue {
      &-1 {
        background-color: #cae6fc;
      }
      &-2 {
        background-color: #75bef8;
      }
      &-3 {
        background-color: #2196f3;
      }

    }



}
